.grid
  margin: 0 20px

  .row
    display: block

    @include tablet
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      justify-content: space-between

    .col
      flex-basis: 100%
      padding: 15px
      margin: 5px 0

      &.xs-12
        width: 100%

      @include tablet
        flex: 1

