.heading
    &.red
        & > h1
            background-color: $clr-red-600
        h3
            color: $clr-red-700

    &.pink
        & > h1
            background-color: $clr-pink-600
        h3
            color: $clr-pink-700

    &.purple
        & > h1
            background-color: $clr-purple-600
        h3
            color: $clr-purple-700

    &.deep-purple
        & > h1
            background-color: $clr-deep-purple-600
        h3
            color: $clr-deep-purple-700

    &.indigo
        & > h1
            background-color: $clr-indigo-600
        h3
            color: $clr-indigo-700

    &.blue
        & > h1
            background-color: $clr-blue-600
        h3
            color: $clr-blue-700

    &.light-blue
        & > h1
            background-color: $clr-light-blue-600
        h3
            color: $clr-light-blue-700

    &.cyan
        & > h1
            background-color: $clr-cyan-600

        h3
            color: $clr-cyan-700

    &.teal
        & > h1
            background-color: $clr-teal-600
        h3
            color: $clr-teal-700

    &.green
        & > h1
            background-color: $clr-green-600
        h3
            color: $clr-green-700

    &.light-green
        & > h1
            background-color: $clr-light-green-600
        h3
            color: $clr-light-green-700

    &.lime
        & > h1
            background-color: $clr-lime-600
        h3
            color: $clr-lime-700

    &.yellow
        & > h1
            background-color: $clr-yellow-600
        h3
            color: $clr-yellow-700

    &.amber
        & > h1
            background-color: $clr-amber-600
        h3
            color: $clr-amber-700

    &.orange
        & > h1
            background-color: $clr-orange-600
        h3
            color: $clr-orange-700

    &.deep-orange
        & > h1
            background-color: $clr-deep-orange-600
        h3
            color: $clr-deep-orange-700

    &.brown
        & > h1
            background-color: $clr-brown-600
        h3
            color: $clr-brown-700

    &.grey
        & > h1
            background-color: $clr-grey-600
        h3
            color: $clr-grey-700

    &.blue-grey
        & > h1
            background-color: $clr-blue-grey-600
        h3
            color: $clr-blue-grey-700

    h3
        display: inline-block
        font-size: 0.6em
