.heading
    &.red
        & > h1
            background-color: #e53935
        h3
            color: #d32f2f

    &.pink
        & > h1
            background-color: #d81b60
        h3
            color: #c2185b

    &.purple
        & > h1
            background-color: #8e24aa
        h3
            color: #7b1Fa2

    &.deep-purple
        & > h1
            background-color: #5e35b1
        h3
            color: #512da8

    &.indigo
        & > h1
            background-color: #3949ab
        h3
            color: #303f9f

    &.blue
        & > h1
            background-color: #1e88e5
        h3
            color: #1976d2

    &.light-blue
        & > h1
            background-color: #039be5
        h3
            color: #0288d1

    &.cyan
        & > h1
            background-color: #00acc1

        h3
            color: #0097a7

    &.teal
        & > h1
            background-color: #00897b
        h3
            color: #00796b

    &.green
        & > h1
            background-color: #43a047
        h3
            color: #388e3c

    &.light-green
        & > h1
            background-color: #7cb342
        h3
            color: #689f38

    &.lime
        & > h1
            background-color: #c0ca33
        h3
            color: #afb42b

    &.yellow
        & > h1
            background-color: #fdd835
        h3
            color: #fbc02d

    &.amber
        & > h1
            background-color: #ffb300
        h3
            color: #ffa000

    &.orange
        & > h1
            background-color: #fb8c00
        h3
            color: #f57c00

    &.deep-orange
        & > h1
            background-color: #f4511e
        h3
            color: #e64a19

    &.brown
        & > h1
            background-color: #6d4c41
        h3
            color: #5d4037

    &.grey
        & > h1
            background-color: #757575
        h3
            color: #616161

    &.blue-grey
        & > h1
            background-color: #546e7a
        h3
            color: #455a64

    h3
        display: inline-block
        font-size: 0.6em
