.event-about
    .image
        margin-bottom: 20px

        .le-me
            width: 140px
            border-radius: 50%

.event-skills
    h3
        background-color: rgba(0, 0, 0, 0.54)
        color: #fff

        .cpp
            background-color: #1976d2
            width: 73%

        .cs
            background-color: #689f38
            width: 69%

        .php
            background-color: #3949ab
            width: 86%

        .sql
            background-color: #424242
            width: 77%

        .py
            background-color: #795548
            width: 30%

        .js
            background-color: #ff5722
            width: 80%

        .css
            background-color: #cddc39
            width: 75%

        .html
            background-color: #ef5350
            width: 85%

.event-tools
    h3
        display: inline-block
        font-size: 0.6em
        color: #9575cd

    .tools
        display: flex
        flex-wrap: wrap
        flex-direction: row

        .item
            margin-left: auto
            margin-right: auto
            margin-bottom: 10px
            padding: 10px
            min-width: 200px
            background-color: #fafafa

            h3
                padding-left: 10%

.event-experience, .event-education
    h2
        font-size: 0.8em

    h3
        display: inline-block
        font-size: 0.6em
        color: #1976d2

.event-education
    h3
        color: #afb42b

.event-contact
    .accs
        display: flex
        flex-wrap: wrap

        .item
            margin-right: 10px
            font-size: 20px

            @include breakpoint($tablet-size)
                margin: auto
                font-size: 28px

section h1.duplicated-heading
    height: 30px
    width: 100%
    padding: 0
    position: fixed
    top: 90px
    right: 0px
    font-size: 0.5em
    line-height: 30px
    z-index: 1000
    opacity: 0
    transition: 0.3s all cubic-bezier(0.48, 0.04, 0.21, 0.94)
    text-align: center

    &.show
        opacity: 1

    @include breakpoint($tablet-size)
        width: auto
        top: 0px
        padding: 0px 5%
        height: 80px
        line-height: 80px
        font-size: 1em
