<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toma&#382; Lovrec - Software Developer</title>

    <link rel="stylesheet" href="css/material.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="js/all.js"></script>
</head>
<body>
    <div class="gangsta-wrappa">
        <header>
            <div class="nav-wrapper">
                <div class="bg">
                    <div class="pattern"></div>
                </div>
                <div class="content-wrapper">
                    <h1 class="logo">Toma&#382; Lovrec</h1>
                    <h2>Software Developer</h2>
                </div>
                <h1 class="nav-title logo">Toma&#382; Lovrec</h1>
                <nav class="down-link">
                    <i class="material-icons md-48 md-dark">keyboard_arrow_down</i>
                </nav>
            </div>
        </header>
        {% include content with contentData %}
        <footer>
            <div class="footer-note">&copy; 2015, Toma&#382; Lovrec</div>
        </footer>
    </div>
</body>
</html>
