<section class="event-about">
    <div class="content-wrapper">
        <div class="image">
            <img class="le-me" src="/img/me.jpg">
        </div>
        <p>This is Toma&#382; Lovrec standing by. I am also known online under my alias 'slax0r'. If you are having trouble pronouncing my name, I have no problem with being called just simply Thomas. I am a professional software developer, and love solving all kinds of issues, be on the Web, or on your computer. If you have a problem and need a solution, hit me up with a message!</p>
        <p>I have come to love programming and software development at a young age, while still in primary school, where I discovered my first programming language, Logo, and it went only uphil from there on. I have expanded my knowledge on this topic through education, self-experimenting, and work experience. There is also no denying my love for Linux and other Unix or Unix-based operating systems.</p>
    </div>
</section>
<section class="event-skills">
    <h1>Skills</h1>
    <h3><span class="cpp">C/C++</span></h3>
    <h3><span class="cs">C#</span></h3>
    <h3><span class="php">PHP</span></h3>
    <h3><span class="sql">SQL</span></h3>
    <h3><span class="py">Python</span></h3>
    <h3><span class="js">JavaScript</span></h3>
    <h3><span class="css">CSS</span></h3>
    <h3><span class="html">HTML</span></h3>
</section>
<section class="event-tools">
    <h1>Tools and technologies</h1>
    <div class="content-wrapper">
        <p>To get my work done as easily and as painlessly as possible I use an array of tools and technologies. Some of the tools and technologies can't be used at the same time, of course, but before use, I weight the situation at hand, and choose the tool and/or technology that fits best. Even if best means go 'vanilla', as in no Framework, but just pure programming language, as it was intended.</p>
        <div class="tools">
            <div class="item">
                <h3>C/C++</h3>
                <ul>
                    <li>Qt4</li>
                </ul>
            </div>
            <div class="item">
            <h3>C#</h3>
            <ul>
                <li>Telerik Framework</li>
            </ul>
            </div>
            <div class="item">
            <h3>PHP</h3>
            <ul>
                <li>CodeIgniter Framework</li>
                <li>Laravel Framework</li>
                <li>Composer</li>
                <li>PHPUnit</li>
                <li>PHPDocumentor</li>
            </ul>
            </div>
            <div class="item">
            <h3>JavaScript</h3>
            <ul>
                <li>jQuery</li>
                <li>AngularJS</li>
            </ul>
            </div>
            <div class="item">
            <h3>CSS</h3>
            <ul>
                <li>Sass</li>
                <li>Compass</li>
            </ul>
            </div>
            <div class="item">
            <h3>Other tools & tech</h3>
            <ul>
                <li>vim - main editor</li>
                <li>Bash</li>
                <li>JSON</li>
                <li>XML</li>
                <li>Grunt</li>
                <li>Bower</li>
                <li>Npm</li>
            </ul>
        </div>
    </div>
</section>
<section class="event-experience">
    <h1>Work experience</h1>
    <div class="content-wrapper">
        <h2>Shop salesperson</h2>
        <h3>2006 - Telekom Slovenije d.d., Murska Sobota (Slovenia)</h3>
        <p>Worked as a student selling telecommunications hardware and internet access contracts. Gained experience on working with customers.</p>

        <h2>Telegraph and telephone installer and servicer</h2>
        <h3>2007 - GVO d.o.o., Murska Sobota (Slovenia)</h3>
        <p>Installation of optical network in the city. Learned how our precious networks are built from the ground up.</p>

        <h2>Software developer and System administrator</h2>
        <h3>2008 - Kapion d.o.o., Murska Sobota (Slovenia)</h3>
        <p>Developer of Web Applications, with PHP programming language and Typo3 Content Management System. Installation and management of Asterix PBX systems. Administration of Linux/BSD and Windows servers.</p>

        <h2>Software developer and System administrator</h2>
        <h3>2009 - Proficio d.o.o., Maribor (Slovenia)</h3>
        <p>Development of insurance backoffice software, and other web applications. Administration of Linux/BSD and Windows servers, and administration of the company's local network.</p>

        <h2>Software developer and System administrator</h2>
        <h3>2010-2013 - Proplatform d.o.o., Slovenska Bistrica (Slovenia)</h3>
        <p>Further development of the insurance backoffice software, development of a custom Content Management System, and other web applications, and development of mobile applications. Administration of SQL, Web, Mail, and Backup servers, and administration of the company's local network. Also learned about planning different projects for the company.</p>

        <h2>Software developer and System administrator</h2>
        <h3>2013-present - Nekom Customer Care GmbH, Graz (Austria)</h3>
        <p>Lead developer on web applications, custom E-Commerce system, and REST API and SOAP webservices. Administration of Linux/BSD servers and source control administration.</p>
    </div>
</section>
<section class="event-education">
    <h1>Education</h1>

    <div class="content-wrapper">
        <h2>Computer Technician</h2>
        <h3>2001-2005 High School of Electro-Computer Science, Maribor (Slovenia)</h3>
        <p>Attended the school straight out of Primary School, and completed all courses with highest grades. Beside doing school assigments, also experimented with the newly gained knowledge on my own account.</p>
        <p>Knowledge gained:</p>
        <ul>
            <li>English language</li>
            <li>German language</li>
            <li>Math</li>
            <li>Algorithms</li>
            <li>C/C++</li>
            <li>Pascal</li>
            <li>Databases</li>
            <li>HTML</li>
            <li>PHP</li>
            <li>Linux operating system</li>
            <li>Integrated circuitry</li>
        </ul>

        <h2>IT Professional</h2>
        <h3>2007-present College Velenje, Velenje (Slovenia)</h3>
        <p>Attended college to get a degree a few years after high school. Because of family responsibilites I had to lay down the studies.</p>
        <p>Knowledge gained:</p>
        <ul>
            <li>C#</li>
            <li>SQL</li>
            <li>Software development</li>
        </ul>
    </div>
</section>
<section class="event-contact">
    <h1>Me in the Web</h1>
    <div class="content-wrapper">
        <p>Here are my accounts, feel free to look me up, and if possible shoot me a message.</p>

        <div class="accs">
            <div class="item">
                <a href="mailto:tomaz.lovrec@gmail.com">
                    <i class="fa fa-envelope"></i> E-Mail
                </a>
            </div>
            <div class="item">
                <a href="http://www.facebook.com/xfirestorm" target="_blank">
                    <i class="fa fa-facebook"></i> Facebook
                </a>
            </div>
            <div class="item">
                <a href="http://twitter.com/slax0rr" target="_blank">
                    <i class="fa fa-twitter"></i> Twitter
                </a>
            </div>
            <div class="item">
                <a href="http://github.com/slax0rr" target="_blank">
                    <i class="fa fa-github"></i> GitHub
                </a>
            </div>
            <div class="item">
                <a href="skype:tomaz.lovrec2?call">
                    <i class="fa fa-skype"></i> Skype
                </a>
            </div>
        </div>
    </div>
</section>
