<div class="system-init">
    <div class="loading">
        Loading, please wait...
    </div>
    <div class="welcome title">
        Welcome to the Personal WebSite of Tomaz Lovrec (<span class="parameter">v1.0</span>)
    </div>
    <div class="visitor">
        Detected visitor on protocol <span class="parameter">{{ protocol }}</span>, port <span class="parameter">{{ port }}</span>
    </div>
    <div class="begin-boot">
        Booting WebSite...
    </div>
</div>
<div class="check-list">
    <div class="check-line">
        <span class="label">Parsing user request on <span class="parameter">{{ url }}</span></span>
        <span class="check-ok ok">OK</span>
    </div>
    <div class="check-line">
        <span class="label">INIT: Entering runlevel: 3</span>
    </div>
    <div class="check-line">
        <span class="label">Starting logger</span>
        <span class="check-ok ok">OK</span>
    </div>
</div>
