.landing
  min-height: 300px
  margin-bottom: 5%
  position: relative
  overflow: hidden

  p
    width: 50%

  .code
    position: absolute
    bottom: 0
    right: 0
    width: 852px
    height: 620px
    background-size: 100% auto
    background-image: url('../img/code.jpg')
