.landing
  min-height: 300px
  margin-bottom: 5%
  position: relative
  overflow: hidden

  p
    width: 50%

  .code
    display: none
    background-size: contain
    background-image: url('../img/code.jpg')
    width: 426px
    height: 310px
    position: absolute
    bottom: 0
    z-index: -1

    @include tablet
      display: block
      right: -90px

    @include desktop
      width: 852px
      height: 620px
      right: -320px
