.landing
  min-height: 300px
  margin-bottom: 5%
  position: relative
  overflow: hidden

  @include tablet
    height: 100vh

  p
    width: 100%

    @include tablet
      width: 50%

  .code
    display: none

    @include tablet
      display: block
      background-size: contain
      background-image: url('../img/code.jpg')
      width: 426px
      height: 310px
      position: absolute
      bottom: 0
      right: -90px
      z-index: -1

    @include desktop
      width: 852px
      height: 620px
      right: -320px
